/*
  @package tapRoot_apothecary
  =================
    SASS - HEADER
  =================
*/
/*
  @package tapRoot_apothecary
  =================
    SASS - MIXINS
  =================
*/
/*
  @package tapRoot_apothecary
  =======================
    SASS - PLACEHOLDERS
  =======================
*/
/*
  @package tapRoot_apothecary
  =================
    SASS - MIXINS
  =================
*/
/*
  @package tapRoot_apothecary
  =====================
    SASS - VARIABLES
  =====================
*/
/*
  Colors
  ------------------------------------------
*/
/*
  Fonts
  ------------------------------------------
*/
/*
  Font Sizes
  ------------------------------------------
*/
/*
  Images
  ------------------------------------------
*/
/*
  @package tapRoot_apothecary
  =====================
    SASS - VARIABLES
  =====================
*/
/*
  Colors
  ------------------------------------------
*/
/*
  Fonts
  ------------------------------------------
*/
/*
  Font Sizes
  ------------------------------------------
*/
/*
  Images
  ------------------------------------------
*/
.tr-apoth-header {
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  padding: 10px 0;
  background-color: white;
  box-shadow: 0px 15px 20px 5px rgba(0, 0, 0, 0.8);
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.03em;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1000;
}
.tr-apoth-header.sticky {
  height: 60px;
  opacity: 0.9;
}
.tr-apoth-header.black {
  background-color: black;
}

.tr-apoth-header-container {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tr-apoth-header.sticky .tr-apoth-header-container {
  -webkit-transform: scale(0.8) translateY(-25px);
  -moz-transform: scale(0.8) translateY(-25px);
  -ms-transform: scale(0.8) translateY(-25px);
  -o-transform: scale(0.8) translateY(-25px);
  transform: scale(0.8) translateY(-25px);
}

.tr-apoth-header.sticky.hide {
  -webkit-transform: translateY(-130px);
  -moz-transform: translateY(-130px);
  -ms-transform: translateY(-130px);
  -o-transform: translateY(-130px);
  transform: translateY(-130px);
}

/*
  Logo
  ------------------------------------------
*/
.tr-apoth-header-logo {
  width: 100px;
  margin-left: 15px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tr-apoth-header-logo:hover, .tr-apoth-header-logo:focus {
  opacity: 0.5;
  cursor: pointer;
}
.tr-apoth-header-logo.white {
  display: none;
}

/*
  Nav
  ------------------------------------------
*/
.tr-apoth-navbar {
  justify-content: center;
}
.tr-apoth-navbar ul {
  list-style: none;
  display: flex;
}
.tr-apoth-navbar a {
  text-decoration: none;
}
.tr-apoth-navbar span {
  color: #ff9900;
}

.tr-apoth-navbar .current-menu-item .tr-apoth-nav-item::after {
  background: black;
  bottom: 10px;
  opacity: 0.8;
  height: 3px;
}

.tr-apoth-nav-item {
  position: relative;
  margin: 0 5px;
}
.tr-apoth-nav-item:after {
  content: "";
  position: absolute;
  background: #ff9900;
  right: 0px;
  left: 0px;
  height: 3px;
  display: block;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  bottom: 0px;
  opacity: 0;
  width: 70%;
  margin: auto;
}
.tr-apoth-nav-item:hover:after, .tr-apoth-nav-item:focus:after {
  bottom: 10px;
  opacity: 0.8;
}

.tr-apoth-mobile-menu .tr-apoth-nav-item::after {
  display: none;
}

.tr-apoth-nav-toggle-icon {
  display: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #ff9900;
  cursor: pointer;
}
.tr-apoth-nav-toggle-icon:hover, .tr-apoth-nav-toggle-icon:focus {
  color: black;
}

.tr-apoth-header.black .tr-apoth-nav-toggle-icon:hover, .tr-apoth-header.black .tr-apoth-nav-toggle-icon:focus {
  color: white;
}

.tr-apoth-nav-toggle-icon::before {
  vertical-align: middle;
}

.tr-apoth-mobile-menu {
  padding: 0;
  display: none;
}

.tr-apoth-mobile-menu.sticky {
  margin-top: -30px;
}

.tr-apoth-mobile-navbar-container {
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

.tr-apoth-mobile-navbar-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.tr-apoth-mobile-navbar-container ul li {
  max-width: 150px;
  margin: 0 auto;
}

.tr-apoth-mobile-navbar-container ul a {
  text-decoration: none;
}

.tr-apoth-mobile-navbar-container .tr-apoth-nav-item {
  position: relative;
  color: #ff9900;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tr-apoth-mobile-navbar-container .tr-apoth-nav-item:hover, .tr-apoth-mobile-navbar-container .tr-apoth-nav-item:focus {
  color: white;
}

.tr-apoth-mobile-navbar-container ul .current-menu-item .tr-apoth-nav-item {
  color: white;
}

/*
  External Links
  ------------------------------------------
*/
.tr-apoth-header-external-links {
  height: 40px;
  text-align: right;
}

.tr-apoth-external-link {
  color: #ff9900;
  padding: 0 15px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tr-apoth-external-link:before {
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -ms-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
}
.tr-apoth-external-link:hover, .tr-apoth-external-link:focus {
  color: black;
}

.tr-apoth-header.black .tr-apoth-external-link:hover, .tr-apoth-header.black .tr-apoth-external-link:focus {
  color: white;
}

/*# sourceMappingURL=header.css.map */
